:root{
    font-size: 16px;

    --color-blue: ;
    --color-red: ;
    --color-yellow: ;
    --color-green: ;


    --color-black: #000000;
    --color-gray-Dv: #1a1a1a;
    --color-gray-D: #4d4d4d;
    --color-gray-M: #808080;
    --color-gray-L: #b3b3b3;
    --color-gray-Lv: #e6e6e6;
    --color-white: #ffffff;
}

body{
    background-color: var(--color-gray-M);
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    color: var(--color-black);
}

p{
    margin: 0;
    color: var(--color-black);
    font-size: 1rem;
}